@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center"><Big>Test MVC</Big></div>

<div class="container">
    <div class="row">
        <div class="col-4">
          <div class="text-center">
            <img src="~/Images/1576840611-aptitude-test-1.webp"> 
          </div>     
        </div>
    </div>
</div>