@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Xác nhận mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
   Mật khẩu thay đổi thành công <a asp-page="./Login">nhấn vào đây đăng nhập lại</a>.
</p>
